{{!-- all.hbs --}}

{{#if listExists}}
    <table>
        <tr>
            <th>NOMBRE</th><th>PRECIO</th><th>IMAGEN</th>
        </tr>
        {{#each TodosLosProductos}}
            <tr>
                <td class="{{this.id}}">{{this.title}}</td>
                <td class="{{this.id}}">${{this.price}}</td>
                <td class="{{this.id}}"><img src="{{this.thumbnail}}" alt="imagen de {{"array.title"}}"></td>
            </tr>
        {{/each}}
    </table>
    <br>
{{else}}
    <p class="avisos">NO HAY PRODUCTOS DISPONIBLES</p>
    <br>
{{/if}}

<a href='/'><button> INGRESAR PRODUCTO </button></a>