<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <div id="atenuar"></div>
    <div id="atenuarErr"></div>
    <div id="atenuarBye"></div>
    <header>
        <%- include('../partials/header'); %>
        <hr>
        <%- include('../partials/login'); %>
    </header>
    <main>
        <%- include('../partials/formulario'); %>
        <hr>
        <%- include('../partials/mensajes'); %>
        <%- include('../partials/table'); %>
        <br>
    </main>
    <footer>
        <%- include('../partials/footer'); %>
    </footer>
</body>
</html>