<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">
    <div id="atenuarErr"></div>
    <header>
        <br>
        <h1>ENTREGABLE 12 - PROCESS</h1>
        <hr><br>
    </header>
    <main>
        <ul class="info">
            <li> Argumento de entrada: <%= body.entryArg %> </li>
            <li> Path de ejecución: <%= body.execPath %> </li>
            <li> Plataforma: <%= body.os %> </li>
            <li> Process ID: <%= body.idProcess %> </li>
            <li> Versión de Node: <%= body.nodeVersion %> </li>
            <li> Carpeta del proyecto: <%= body.directorio %> </li>
            <li> Memoria reservada: <%= body.memory.rss %> </li>
        </ul>
    </main>
    <footer>
        <br><hr>
        <p>© Copyright 2022 - Gonzalo Leonel Gramajo</p>
        <p style="text-align: left">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatum debitis, doloremque adipisci ipsum, pariatur, quod ab labore reprehenderit obcaecati facilis odit. Sint illo nisi harum blanditiis repellat iure, explicabo est. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Natus, magni libero? Laudantium illum quibusdam laborum magni blanditiis numquam tempora consequuntur in, nihil nulla porro? Autem numquam tempora necessitatibus nesciunt dolorum! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni aliquam ratione officia iure aliquid! Aperiam neque atque nulla impedit deserunt nihil, hic maxime necessitatibus eius et similique accusamus placeat modi. lorem ipsum dolor sit amet lorem.</p>
        <p>Contacto: gramajogonzalo@gmail.com</p>
    </footer>
</body>
</html>